.footerland#yak5
    .innerWrapper
        .footerland__soc_icons
            ul.soc_icons__list
                li.so_icons__item
                    a.sos_icons_link.sos_icons_link_fb(href="https://www.facebook.com/")
                li.so_icons__item
                    a.sos_icons_link.sos_icons_link_tw(href="https://twitter.com/")
                li.so_icons__item
                    a.sos_icons_link.sos_icons_link_in(href="https://www.instagram.com/")
                li.so_icons__item
                    a.sos_icons_link.sos_icons_link_bh(href="https://www.behance.net/")
        .footerland__content
            p.footerland__title
                | Свяжитесь с нами
            a.footerland__phone(href="tel:+1234567890")
                | +7 (888) 91-34-44
            p.footerland__adress
                | г. Москва, ул. Орджоникидзе 12, офис 34
