.header
    .innerWrapper
        .header__nav#yak6
            img.logo(href='#' src='img/logo.png')
            ul.header__list#header__list
                li.header__item
                    a.link(href='#yak1') кто мы
                li.header__item
                    a.link(href='#yak2') что мы делаем
                li.header__item
                    a.link(href='#yak3') наши работы
                li.header__item
                    a.link(href='#yak4') отзывы
                li.header__item
                    a.link(href='#yak5') сделать звонок
                li.header__item.header__item_up
                    a.link(href='#yak6') наверх
        .header__content
            p.header__title
                | Инструменты для взлета ваших продаж
            p.header__text
                | Landing Page с гарантированным результатом.
            p.header__text
                | Вы получите новые звонки и заявки сразу после запуска.
        .header__blocks#yak1
            .blocks__1.blocks
                p.blocks__text
                    | Настраиваем стабильный канал продаж
            .blocks__2.blocks
                p.blocks__text
                    | Генерируем новых клиентов
            .blocks__3.blocks
                p.blocks__text
                    | Увеличиваем прибыль и месячный оборот


