.header
    .innerWrapper
        .header__nav
            img.logo(href='#' src='img/logo.png')
            ul.header__list
                li.header__item
                    a.link(href='#') кто мы
                li.header__item
                    a.link(href='#') что мы делаем
                li.header__item
                    a.link(href='#') наши работы
                li.header__item
                    a.link(href='#') отзывы
                li.header__item
                    a.link(href='#') заказать звонок
        .header__content
            p.header__title
                | Инструменты для взлета ваших продаж
            p.header__text
                | Landing Page с гарантированным результатом.
            p.header__text
                | Вы получите новые звонки и заявки сразу после запуска.
        .header__blocks
            .blocks__1.blocks
                p.blocks__text
                    | Настраиваем стабильный канал продаж
            .blocks__2.blocks
                p.blocks__text
                    | Генерируем новых клиентов
            .blocks__3.blocks
                p.blocks__text
                    | Увеличиваем прибыль и месячный оборот


