.header
    .innerWrapper
        .header__nav
            img.logo(href='#' src='img/logo.png')
            ul.header__list
                a.link(href='#')
                    li.header__item КТО МЫ
                a.link(href='#')
                    li.header__item ЧТО МЫ ДЕЛАЕМ
                a.link(href='#')
                    li.header__item НАШИ РАБОТЫ
                a.link(href='#')
                    li.header__item ОТЗЫВЫ
                a.link(href='#')
                    li.header__item ЗАКАЗАТЬ ЗВОНОК
        .header__content
            p.header__title
                | Инструменты для взлета ваших продаж
            p.header__text
                | Landing Page с гарантированным результатом.
            p.header__text
                | Вы получите новые звонки и заявки сразу после запуска.
        .header__blocks
            .blocks__1
                p.blocks__text
                    | Настраиваем стабильный канал продаж
            .blocks__2
                p.blocks__text
                    | Генерируем новых клиентов
            .blocks__3
                p.blocks__text
                    | Увеличиваем прибыль и месячный оборот


