.howwedo
    .innerWrapper
        .howwedo__content
            p.howwedo__title
                | Как нам это удается
            p.howwedo__text
                | Никакой магии и золотых рыбок. Мы внедряем самые эффективные инструменты для процветания вашего бизнеса.
        .howwedo__map
            .howwedo__left
                .howwedo__1
                    p.howwedo__map_text
                        | Изучаем ваш бизнес, полностью погружаемся в него
                .howwedo__3
                    p.howwedo__map_text
                        | Выдаем эксклюзивное решение, подходящее для вашего бизнеса
            .howwedo__right
                .howwedo__2
                    p.howwedo__map_text
                        | Анализируем конкурентов, проводим маркетинговый аудит
                .howwedo__4
                    p.howwedo__map_text
                        | Рарабатываем суперлэндинг или промосайт и привлекаем на него клиентов
            .howwedo__map_bg
            .howwedo__5
                p.howwedo__map_text
                    | Руководим рекламной компанией и корректируем её в зависимости от отдачи
