.projects
    .innerWrapper
        .projects__content
            .projects__title
                | Наши проекты
            .projects__text
                | Наши результаты – следствие того, что мы работаем по выверенной технологии и продумываем все комплексно с точки зрения продаж.
        .projects__images
            a.link(href='#')
                img.projects__img(src="http://lorempixel.com/380/300/city/1")
                p.link__text  Посмотреть
            a.link(href='#')
                p.link__text  Посмотреть
                img.projects__img(src="http://lorempixel.com/380/300/city/2")
            a.link(href='#')
                p.link__text  Посмотреть
                img.projects__img(src="http://lorempixel.com/380/300/city/3")
            a.link(href='#')
                p.link__text  Посмотреть
                img.projects__img(src="http://lorempixel.com/380/300/city/4")
            a.link(href='#')
                p.link__text  Посмотреть
                img.projects__img(src="http://lorempixel.com/380/300/city/5")
            a.link(href='#')
                p.link__text  Посмотреть
                img.projects__img(src="http://lorempixel.com/380/300/city/6")
