.projects#yak3
    .innerWrapper
        .projects__content
            .projects__title
                | Наши проекты
            .projects__text
                | Наши результаты – следствие того, что мы работаем по выверенной технологии и продумываем все комплексно с точки зрения продаж.
        ul.projects__list
            li.projects__items
                img.projects__img(src="http://lorempixel.com/380/300/city")
            li.projects__items
                img.projects__img(src="http://lorempixel.com/380/300/city")
            li.projects__items
                img.projects__img(src="http://lorempixel.com/380/300/city")
            li.projects__items
                img.projects__img(src="http://lorempixel.com/380/300/city")
            li.projects__items
                img.projects__img(src="http://lorempixel.com/380/300/city")
            li.projects__items
                img.projects__img(src="http://lorempixel.com/380/300/city")
