.team
    .innerWrapper
        .slider
            a(href="#" class="slider__contorols-button slider__contorols-button_prev")
            .slider__list--wrap
                ul.slider__list
                    li(class="slider__item active")
                        .item_wrap
                            .slider__photo
                                .photo_wrap
                                    img.photo(src="img/photo.png")
                            p.team__text
                                | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            p.team__name
                                | АЛЕКСАНДРА ЕЛАГИНА
                            a.link
                                p.button
                                    | Заказать звонок

                    li(class="slider__item")
                        .item_wrap
                            .slider__photo
                                .photo_wrap
                                    img.photo(src="img/photo.png")
                            p.team__text
                                | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            p.team__name
                                | АЛЕКСАНДРА ЕЛАГИНА
                            a.link
                                p.button
                                    | Заказать звонок
                    li(class="slider__item")
                        .item_wrap
                            .slider__photo
                                .photo_wrap
                                    img.photo(src="img/photo.png")
                            p.team__text
                                | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            p.team__name
                                | АЛЕКСАНДРА ЕЛАГИНА
                            a.link
                                p.button
                                    | Заказать звонок
                    li(class="slider__item")
                        .item_wrap
                            .slider__photo
                                .photo_wrap
                                    img.photo(src="img/photo.png")
                            p.team__text
                                | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            p.team__name
                                | АЛЕКСАНДРА ЕЛАГИНА
                            a.link
                                p.button
                                    | Заказать звонок
            a(href="#" class="slider__contorols-button slider__contorols-button_next")

