.whatwedo
    .innerWrapper
        .whatwedo__content
            p.whatwedo__title
                | Что мы делаем?
            p.whatwedo__text
                | Мы умеем делать бизнес прибыльным, так как научились этому на собственном опыте – и поможем в этом вам.
        .whatwedo__blocks
            .blocks__1
                .icon
                .blocks__title
                    | И Н Т Е Р Н Е Т-М А Р К Е Т И Н Г
                ul.blocks__list
                    li.blocks__item
                        | - Контекстная реклама
                    li.blocks__item
                        | - SEO оптимизация
                    li.blocks__item
                        | - Интернет стратегии
                    li.blocks__item
                        | - Медийная реклама
                    li.blocks__item
                        | - Семантическое ядро
            .blocks__2
                .icon
                .blocks__title
                    | В Е Б-Р А З Р А Б О Т К А
                ul.blocks__list
                    li.blocks__item
                        | - Landing Page
                    li.blocks__item
                        | - Корпоративные сайты
                    li.blocks__item
                        | - Промо сайты
                    li.blocks__item
                        | - Прототипирование
                    li.blocks__item
                        | - UI/UX дизайн
                    li.blocks__item
                        | - Обслуживание сайтов
                a.link
                    p.button
                        | Заказать
            .blocks__3
                .icon
                .blocks__title
                    | Б Р Е Н Д И Н Г
                ul.blocks__list
                    li.blocks__item
                        | - Логотипы
                    li.blocks__item
                        | - Фирменный стиль
                    li.blocks__item
                        | - Продающие материалы
                    li.blocks__item
                        | - Нейминг
                    li.blocks__item
                        | - Дизайн упаковок
                    li.blocks__item
                        | - Демонстрационые стенды
