.team {
  @include block(#f4f4f4);
  height: 80vmin;
  overflow: hidden;
  //.wrapper {
  //  position: relative;
  //  min-height: 100%;
  //  height: auto !important;
  //  height: 100%;
  //
  //  margin: 50px;
  //}

  ul, li, a {
    font-size: 2em;
    color: #d4d4d4;
    text-decoration: none;
    list-style-type: none;
  }
  /* -------------- slider --------------- */

  & * {
    @include outline;

  }
  .slider {
    height: 100%;
    //position: absolute;
    display: inline-block;
    //margin-left: 200px;
    //background: #009900;
    //opacity: 0.5;
    width: 100%;
  }

  .slider__list {
    height: 100%;
    width: 66vw;
    margin: 0 auto;
    position: relative;
    left: 0;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }

  .slider__list:after {
    clear: both;
  }

  .slider__item {
    height: 100%;
    float: left;
  }

  .link {
    display: block;
    height: 4vmin;
    width: 14vw;
    margin: 3vmin auto;

  }
  .button {
    width: 100%;
    @include box-sizing;
    font-family: proxima_nova_excn_ltlight;
    font-size: 2.5vmin;
    height: 4vmin;
    text-align: center;
    padding-top: 0.3vmin;
    @include border-radius(20px);
    padding-left: 1.4vw;
    padding-right: 1.4vw;
    cursor: pointer;
    color: #ffffff;
    background: #e8ce4d;
    opacity: 1;
    &:hover {
      @include transition(1s);
      opacity: 0.7;
    }
  }
  .item_wrap {
    width: 66vw;
    height: 100%;
    @include outline;
  }

  .innerWrapper {
    opacity: 1;
    background: none;
  }

  /*--------- slider content -------------*/
  .slider__photo {
    height: 34vmin;
    width: 100%;
    position: relative;
    padding-top: 12vmin;
    @include box-sizing;
  }
  .photo_wrap {
    display: block;
    margin: 0 auto;
    width: 22vmin;
    height: 22vmin;
    //background: #fd3427;
    //opacity: 0.5;
    overflow: hidden;
    @include border-radius(50%);
    border: 5px solid #e3ecec;
  }
  .photo {
    width: 100%;
  }
  .team__text {
    font-family: proxima_nova_excn_ltlight;
    font-size: 2vmin;
    text-align: center;
    color: #3d3d3d;
    width: 80%;
    margin: 0 auto;
    display: block;
    min-height: 14vmin;
    padding-top: 3vmin;
    padding-bottom: 3vmin;
    display: block;
  }
  .team__name {
    display: block;
    font-family: proxima_nova_cn_rgbold;
    font-size: 3vmin;
    text-align: center;
    color: #3d3d3d;
    width: 80%;
    margin: 0 auto;
    //height: 14vmin;
  }
}