@media screen and (max-width: 940px) {
  .header__list {
    font-size: 1.5vmin !important;
  }
  .header__content {
    padding-top: 12vmin;
  }
  .header__item {
    padding-top: 2vmin !important;
  }
  .whatwedo {
    .blocks__1, .blocks__2, .blocks__3 {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .blocks__title {
      font-size: 1.9vmin;
    }
    .button {
      font-size: 2vmin;
      padding-top: 0.5vmin;
    }
  }
  .projects {
    .link__text {
      font-size: 2vmin;
    }
  }
  .howwedo__1,.howwedo__2,.howwedo__3,.howwedo__4,.howwedo__5{
    //padding-top: 0 !important;
    //padding-top: 15vmin !important;
  }
  .howwedo__map_text {
    margin-top: -10vmin;
    margin-left: -2vw;
    width: 20vw !important;
    //margin-top: -5vmin;
    font-size: 2vmin;
  }

  .projects__content {
    margin-bottom: 15vmin;

  }
}
